@import url(https://fonts.googleapis.com/css?family=Space+Mono:400,700);

/* removes all padding and margin from elements that have them applied by default */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  height: 100vh;
  background: #FFBE0B;
  padding: 25px;
	text-align: right;
}

html {
	font-size: 8px;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 40%;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%,-50%);
}
#newTask{
  position: relative;
  padding: 30px 20px;
}
#newTask input{
  width: 75%;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: "Space Mono", sans-serif;
  font-weight:400;
  font-size: 0.8em;
  border: 2px solid #d1d3d4;
}

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.linkedin span {
	background-color: #0077b5;
}
.github span {
  background-color: #111111;
}

/* Icons */
.icon-button i {
	background: none;
	color: black;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}

.icon-button .icon-linkedin {
	color: #3B5998;
}

.icon-button .icon-github {
  color:#1116;
}

.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-github {
	color: white;
}

.icon-button i:hover {
  color: white;
}

/* interactive text box highlight */
#newTask input:focus{
  outline: none;
  border-color: #0d75ec;
}
#newTask button{
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: #d8641c;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 20%;
  height: 45px;
  border-radius: 40px;
  font-family: "Space Mono", sans-serif;
}
#taskList{
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 30px 20px;
  margin-top: 10px;
  font-family: "Space Mono", sans-serif;
  font-weight:400;
  font-size: 0.8em;
}
.taskList{
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #c5e1e6;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
}
.taskList span{
  font-family: "Space Mono", sans-serif;
  font-weight:400;
  font-size: 0.8em;
}

li {
  list-style-type: none;
  padding: 0;
  transition: background-size 0.8s 0.2s cubic-bezier(.7,.2,.17,1),
  background-color 0.2s cubic-bezier(.7,.2,.17,1),
  height 0.2s 1s cubic-bezier(.7,.2,.17,1);
  position:relative;
  background-color:#f8f8f8;
  border-top: 1px solid #eee;
  background-image: linear-gradient(to right, #FE5F55, red);
  background-size: 0 2px;
  background-repeat:no-repeat;
  background-position: left bottom;
  justify-content: space-between;
  display: flex;
  padding: 5px 10px;
}

li:hover {
  background-color: white;
}


.delete {
  float:right;
  color: grey;
  background-color: white;
  margin-left: auto;
  border: none;
  padding-right: 5px;
}
  
.delete:hover {
  color: red;
}

.checked {
  float:left;
  color: grey;
  background-color: white;
  border: none;
  padding-left: 5px;
}

.checked:hover {
  color:green;
  content: '\f058';
}




/*
.listItem:hover::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f058';
  color: green;
}





ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: none;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked{
color: #47D185;
font: var(--fa-font-solid);
content: '\f058'; 
}


/*
.taskList button{
  background-color: #6583e5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 40px;
  border-radius: 5px;
}

ul li{
  list-style: none;
  background-color:#f8f8f8;
  box-shadow: 0 0 2px hsla(0,0%,0%,0.2);
  margin: auto;
  border-radius: 6px;
  font-size:1.4em;
  border:0;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: text;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: none;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked{
color: #47D185;
}

li.checked::before {
background-image: url();
font: var(--fa-font-solid);
content: '\f058';  
}
*/ 

